.calc-arifmetics {
  padding-top: 20px;
  padding-right: 25px;
}

.calc-reset-backspace {
  display: flex;
  align-items: center;
  gap: 15px;
}

.calc-reset > button {
  width: 55px;
  height: 60px;
  font-size: 30px;
  font-weight: 700;
  font-family: "Roboto";
  border: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: teal;
  cursor: pointer;
}

.calc-backspace > button {
  width: 55px;
  height: 60px;
  border: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: teal;
  cursor: pointer;
}

.calc-increase-decrease {
  display: flex;
  align-items: center;
  padding-top: 20px;
  gap: 15px;
}

.calc-increase > button {
  width: 55px;
  height: 60px;
  font-size: 30px;
  font-weight: 300;
  border: 0;
  border-radius: 10px;
  background-color: orange;
  cursor: pointer;
}

.calc-decrease > button {
  width: 55px;
  height: 60px;
  font-size: 30px;
  font-weight: 300;
  border: 0;
  border-radius: 10px;
  background-color: tomato;
  cursor: pointer;
}

.calc-plus-minus {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-top: 30px;
}

.calc-plus > button {
  width: 60px;
  height: 40px;
  border: 0;
  background-color: inherit;
  cursor: pointer;
}

.calc-minus > button {
  width: 60px;
  height: 40px;
  border: 0;
  background-color: inherit;
  cursor: pointer;
}
