.calc-row {
  display: flex;
}

.calc-numbers {
  padding: 0 25px;
}

.calc-one {
  display: flex;
  align-items: center;
  padding-top: 20px;
  gap: 10px;
}

.calc-one > button {
  width: 60px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Roboto";
  border: 0;
  border-radius: 25%;
  color: magenta;
  background-color: steelblue;
  cursor: pointer;
}

.calc-zero-equal{
    display: flex;
    align-items: center;
    padding-top: 25px;
}

.calc-zero>button{}