* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.calculator {
  background-image: url(/assets/img/dark5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.calc-count {
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

.calc-body {
  width: 400px;
  height: 500px;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 0 10px magenta;
  animation-name: calc-body;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}

@keyframes calc-body {
  0% {
    box-shadow: inset 0 0 10px magenta;
  }
  25% {
    box-shadow: inset 0 0 10px steelblue;
  }
  50% {
    box-shadow: inset 0 0 10px aqua;
  }
  75% {
    box-shadow: inset 0 0 10px greenyellow;
  }
  100% {
    box-shadow: inset 0 0 10px magenta;
  }
}

.calc-screen {
  width: 350px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 25px;
  border: 1px solid steelblue;
  border-radius: 7px;
  margin: 70px 25px 0 25px;
}

.calc-demo {
  color: #fff;
  font-size: 30px;
  font-family: "Roboto";
}
