* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.calculator {
  background-image: url(/assets/img/calc-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.calc-count {
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

.calculator-body {
  width: 400px;
  height: 500px;
  border: 1px solid #fff;
}
